.idea/
dockerSample/.idea/
mavenSamples/result/HelloMvnApp/.idea/
PythonBasics/.idea/
.DS_Store
dockerSample/~$cker CheatSheet.docx
mavenSamples/result/HelloMvnApp/target/
mavenSamples/result/HelloMvnApp/HelloMvnApp.iml
